.textarea{
    height: 250px;
    resize: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    &:focus {
        border-color: #007bff;
        outline: none;
    }
}
